body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    background: #222;
}

.card {
    background-color: rgb(84, 85, 85);
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 61%;
    max-height: auto;
    margin: 1em;
    color: aliceblue;
}

.searchBar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .5em;
    border-radius: 9px;
    border: none;
    height: 2em;
    width: 10em;
    background: #7c7c7c2b;
    color: aliceblue;
}

.mainBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .5em;
    border-radius: 9px;
    border: none;
    height: 2em;
    width: 10em;
    background-color: #7c7c7c2b;
    color: aliceblue;
}

.whetherHeader {
    font-size: 100px;
}

.theHeader {
    font-size: 75px;
}

.weatherHeader {
    font-size: 100px;
}