body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    background: #222;
    background-image: url("https://source.unsplash.com/1600x900/?weather");
    background-repeat: no-repeat;
    background-size: cover;
}

.card {
    background-color: rgb(84, 85, 85, .8);
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 61%;
    max-height: auto;
    margin: 1em;
    color: aliceblue;
}

.searchBar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .5em;
    border-radius: 9px;
    border: none;
    height: 2em;
    width: 10em;
    background: #a7a6a62b;
    color: aliceblue;
}

.mainBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .5em;
    border-radius: 9px;
    border: none;
    height: 2em;
    width: 10em;
    background-color: #7c7c7c2b;
    color: aliceblue;
}

.whetherHeader {
    font-size: 100px;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}

.theHeader {
    font-size: 75px;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.weatherHeader {
    font-size: 100px;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.title {
    visibility: inherit;
}